# vscode stuff.
.vscode

# upsolving folder
upsolving/
./upsolving

launch.json

# inputs.
*.in
*.txt
in1
in2
in3
in4
in5
in6
in7
in8
moj/in1
moj/in2
moj/in3
moj/in4

test.cpp

algorithms/ds-c/test.c
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# tests
test.*
# tests/
